/* ini css external */
body {
    font-family: cursive;
}

.main-header>h1 {
    margin: 0px;
    background-color: darkcyan;
    padding: 24px;
    text-align: center;
}

main {
    background-color: ghostwhite;
    padding: 16px;
    text-align: center;
}

.nav-fitur {
    display: flex;
    flex-direction: column;
}

.nav-fitur>a {
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
}

.nav-fitur-non-active {
    background-color: bisque;
}

.nav-fitur-active {
    background-color: burlywood;
}

.section-header {
    background-color: #4b5563;
    color: wheat;
    padding: 16px;
}

.section-image {
    background-image: url(../assets/persegi.png);
    width: 200px;
    height: 100px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

.calculate-content {
    border: 1px solid;
    height: 300px;
}

section {
    margin-top: 16px;
    margin-bottom: 16px;
}

footer {
    text-align: center;
}

